@font-face {
  font-family: FrozenIce;
  src: url(FROZEN%20ICE.otf);
}

html {
    background-image: linear-gradient(#0b0e70, #0d7cbc);
    background-repeat: no-repeat;
    margin: 0;
    
}

section {
    display: grid;
    grid-template-columns: 2% 1fr 2% 1fr 2% 1fr 2%;
    grid-template-rows: auto;
}

nav {

    background-image: linear-gradient(#0d7bbc, #040640);
    max-height: 50px;    text-align: right;
        display: grid;
    grid-template-columns: 1fr 6fr;
    grid-row: 10%;
    

}

nav a {
    color: black;
    padding-right: 4%;
    text-decoration: none;
    text-shadow: 0 0 4px white;
    font-size: 45px;
    font-family: "FrozenIce", sans-serif;
    grid-column: 2/3;
    grid-row: 1/2;
}

.slider {
    width: 100vw;
}

#mens {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(ice%20picture.png)
}
#womens {
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(lake.png)

}
#kids {
    grid-column: 6/7;
    grid-row: 1/2;
    background-image: url(path%20with%20trees.png);
}
img {
display: block;
}

.homepageimg {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

#kids, #mens, #womens {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: -2px 2px 8px black;
    margin-top: 3%;
}

.homepagetxt {
    position: absolute;
    bottom: 50%;
    right: 10%;
    font-family: "FrozenIce", sans-serif;
    font-size: 40px;
    text-shadow: 0 0 4px white;
    text-align: center;

}

.homepagetxt a {
        color: black;
    text-decoration: none;
}
 
.logo {
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}