/*importing custom fonts*/
@font-face {
    font-family: FrozenIce;
    src: url(fonts/FROZEN%20ICE.otf);
}

@font-face {
    font-family: coolvetica;
    src: url(fonts/coolvetica%20rg.ttf)
}

/*code for html background animation and size*/
html {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    animation: pulse 6s infinite;
}

/*animation for background transfers between different shades of blue. The animation of shades of blue creates contrast against background images on the pages*/
@keyframes pulse {
    0% {
        background-color: #1075b0;
    }

    20% {
        background-color: #0b5885;
    }

    40% {
        background-color: #024399;
    }

    50% {
        background-color: #02367a;
    }

    80% {
        background-color: #02367a;
    }

    100% {
        background-color: #1075b0;
    }
}

/*dots in the slider in index.html*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    align-items: end;
    margin-bottom: 30%;
}

/*positioning dots in the slider*/
.dotdiv {
    grid-column: 3/4;
    grid-row: 1/2;
}

/*darken background color when hovering over dot*/
.active,
.dot:hover {
    background-color: #717171;
}

/*general font and text size for level 2 headings*/
h1 {
    font-family: "FrozenIce", sans-serif;
    text-shadow: 0 0 4px white;
    font-size: 45px;
}

/*font size for number of items in cart displayed on the navigation bar*/
#items {
    text-decoration: none;
    font-size: 30px;
}

/*general font for h2, h3 and paragraphs*/
h2,
h3,
p {
    font-family: "coolvetica", sans-serif;
}

/*layout of home page*/
.home {
    display: grid;
    grid-template-columns: 2% 2fr 1fr 2% 2fr 1fr 2% 2fr 1fr 2%;
    grid-template-rows: auto;
}

/*layout, colours and text settings of navigation bar. Navigation bar on top of website to find it is easy to find and user friendly*/
#navlink {
    background-image: radial-gradient(#0d7bbc, #040640);
    max-height: 100px;
    min-height: 80px;
    text-align: right;
    display: grid;
    grid-template-columns: 2fr 12fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-right: 1%
}

/*layout of for number of items in cart displayed on the navigation bar*/
.itemdiv {
    grid-column: 4/5;
    justify-content: center;
    align-content: center;
}

/*layout for cart in store.html*/
.cartdiv {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr 2fr;
    grid-template-rows: auto;
}

/*layout for cart in pages other than store.html*/
.cartdivb {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: auto;
}

/*image position in grids for cart in pages other than store.html*/
.cartdivb img {
    grid-column: 1/2;
}

/*image position in grids for cart in store.html*/
.cartdiv img {
    grid-column: 1/2;
}

/*colours and styles for increase decrease buttons on the cart*/
.plusoncart,
.minusoncart {
    background: none;
    color: white;
    box-shadow: none;
    border: none;
}

/*following code is for positions for in the grid for product name, price, increase and decrease buttons*/
.name {
    grid-column: 1/2
}

.price {
    grid-column: 2/3
}

.minusoncart {
    grid-column: 4/5;
}

.plusoncart {
    grid-column: 6/7;
}

/*sizes and alignments for image of product on cart*/
#jacketa,
#jacketb,
#jacketc,
#jacketd,
#jackete,
#jacketf,
#jacketg,
#jacketh,
#jacketi,
#jacketj,
#jacketk,
#jacketl {
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    background-image: radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    justify-self: center;
    align-self: center;
}

/*text shown when cart is empty*/
#empty {
    text-align: center;
    color: white;
}

/*size for map on contact.html*/
iframe {
    width: 100%;
    height: 100%;
}

/*colours, positions, font settings for links on nav bar*/
nav a {
    color: black;
    padding-right: 4%;
    text-decoration: none;
    text-shadow: 0 0 4px white;
    font-size: 45px;
    font-family: "FrozenIce", sans-serif;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center
}

/*position of slider on index.html. This helps make the website user friendly as many websites have sliders on their home pages*/
.slider,
.slider2 {
    width: 100vw;
    grid-row: 1/2;
}

/*following is code for positions and sizes of products for index.html - these products help navigate the users to what they want on arrival to the website homepage and makes the website user friendly*/
#mens {
    grid-column: 2/3;
    grid-row: 2/3;
}

#womens {
    grid-column: 5/6;
    grid-row: 2/3;
}

#kids {
    grid-column: 8/9;
    grid-row: 2/3;
}

#mens1 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#mens1 {
    z-index: 5;
}

#womens1 {
    grid-column: 5/6;
    grid-row: 3/4;
}

#kids1 {
    grid-column: 8/9;
    grid-row: 3/4;
}

img {
    display: block;
}

.homepageimg {
    height: 100%;
    width: 100%;
}

#kids,
#mens,
#womens,
#kids1,
#mens1,
#womens1 {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 3%;
    opacity: 100%;
}

#kids1,
#mens1,
#womens1 {
    margin-top: 2%;
}

/*background for images on index.html*/
.backgroundimg {
    height: 100%;
    width: 100%;
    opacity: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/*text for products on index.html*/
.homepagetxt {
    bottom: 50%;
    right: 10%;
    font-family: "FrozenIce", sans-serif;
    font-size: 40px;
    text-shadow: 0 0 4px white;
    text-align: center;
    opacity: 100%;
}

.homepagetxt a {
    color: black;
    text-decoration: none;
}

.homepagetxt {
    padding-top: 50%;
    padding-right: 5%;
    opacity: 100%;
    z-index: 1;
    top: 50%;
}

/*positions and sources of background images for products in index.html - background images create contrast against content*/
#ice {
    grid-column: 2/4;
    grid-row: 2/3;
    background-image: url(images/ice%20picture.png);
    box-shadow: 2px 2px 8px black;
}

#lake {
    grid-column: 5/7;
    grid-row: 2/3;
    background-image: url(images/lake.png);
    box-shadow: 2px 2px 8px black;
}

#tree {
    grid-column: 8/10;
    grid-row: 2/3;
    background-image: url(images/path%20with%20trees.png);
    box-shadow: 2px 2px 8px black;
}

#ice1 {
    grid-column: 2/4;
    grid-row: 3/4;
    background-image: url(images/ice%20picture.png);
    box-shadow: 2px 2px 8px black;
}

#lake1 {
    grid-column: 5/7;
    grid-row: 3/4;
    background-image: url(images/lake.png);
    box-shadow: 2px 2px 8px black;
}

#tree1 {
    grid-column: 8/10;
    grid-row: 3/4;
    background-image: url(images/path%20with%20trees.png);
    box-shadow: 2px 2px 8px black;
}

#menstxt {
    grid-row: 2/3;
    grid-column: 3/4;
}

#womenstxt {
    grid-row: 2/3;
    grid-column: 6/7;
}

#kidstxt {
    grid-row: 2/3;
    grid-column: 9/10;
}

#menstxt1 {
    grid-row: 3/4;
    grid-column: 3/4;
}

#womenstxt1 {
    grid-row: 3/4;
    grid-column: 6/7;
}

#kidstxt1 {
    grid-row: 3/4;
    grid-column: 9/10;
}

/*layout of grids for contact.html*/
.contactdiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 5%;
}

.contactform {
    text-align: left;
}

/*position of elements in grids in contact.html*/
.contactdetails {
    grid-column: 1/2;
}

.contactform {
    grid-column: 2/3;
}

.map {
    grid-column: 3/4;
}

/*positions and sizes for logo on nav bar*/
.logodiv {
    justify-self: left
}

.logo {
    height: 100%;
    width: 100%;
    max-height: 80px;
    max-width: 200px;
    display: inline;
    grid-column: 1/2;
    grid-row: 1/2;
    text-shadow: 2px 2px 2px white;
    padding: 2%;
    margin-left: 3%
}

/*font for contact form*/
label,
input,
textarea,
select {
    font-family: "coolvetica", sans-serif;
}

/*position of total in cart*/
.totaldiv {
    grid-column: 1/2;
}

.totalnumberdiv {
    grid-column: 4/5;
}

/*background image and other setting for contact.html - background images create contrast against content*/
.contact {
    background-image: url(images/lake.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    box-shadow: -2px -2px 5px black;
    opacity: 100%;
    z-index: 1;
}

/*background settings for store.html - background images create contrast against content*/
.clothingbody {
    background-image: url(images/ice%20picture.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*background settings for checkout.html - background images create contrast against content*/
.checkoutsec {
    box-shadow: 2px 2px 5px black;
    box-shadow: -2px -2px 5px black;
    min-height: 100vh;
    background-image: url(images/lake.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

/*display grid settings for store.html - the use of grid layout helps the user find products easily and makes the website user friendly*/
.clothing {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    margin: auto;
    padding: 2%;
}

/*list settings for products in store.html*/
ul {
    list-style: none;
}

li {
    box-shadow: 2px 2px 8px black;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: auto;
}

/*position, alignment and size in grid for products and their descriptions*/
li img,
.middle {
    grid-column: 1/2;
    grid-row: 1/2;
}

.clothingtxt {
    text-align: center;
}

.storeimg {
    width: 100%;
    display: block
}

.storeimg {
    opacity: 1;
    display: inline;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.hva {
    grid-column: 2/3;
    grid-row: 2/3;
}

.hvb {
    grid-column: 4/5;
    grid-row: 2/3;
}

.hvc {
    grid-column: 6/7;
    grid-row: 2/3;
}

.hvd {
    grid-column: 2/3;
    grid-row: 4/5;
}

.hve {
    grid-column: 4/5;
    grid-row: 4/5;
}

.hvf {
    grid-column: 6/7;
    grid-row: 4/5;
}

.hvg {
    grid-column: 2/3;
    grid-row: 6/7;
}

.hvh {
    grid-column: 4/5;
    grid-row: 6/7;
}

.hvi {
    grid-column: 6/7;
    grid-row: 6/7;
}

.hvj {
    grid-column: 2/3;
    grid-row: 8/9;
}

.hvk {
    grid-column: 4/5;
    grid-row: 8/9;
}

.hvl {
    grid-column: 6/7;
    grid-row: 8/9;
}

/*hover settings for product images and descriptions*/
.a:hover .storeimg,
.b:hover .storeimg,
.c:hover .storeimg,
.d:hover .storeimg,
.e:hover .storeimg,
.f:hover .storeimg,
.g:hover .storeimg,
.h:hover .storeimg,
.i:hover .storeimg,
.j:hover .storeimg,
.k:hover .storeimg,
.l:hover .storeimg {
    opacity: 0.3;
}

.a:hover .middle,
.b:hover .middle,
.c:hover .middle,
.d:hover .middle,
.e:hover .middle,
.f:hover .middle,
.g:hover .middle,
.h:hover .middle,
.i:hover .middle,
.j:hover .middle,
.k:hover .middle,
.l:hover .middle {
    opacity: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
}

/*text and alignment settings for descriptions*/
.hva,
.hvb,
.hvc,
.hvd,
.hve,
.hvf,
.hvg,
.hvh,
.hvi,
.hvj,
.hvk,
.hvb l {
    font-size: 16px;
    padding: 16px 32px;
    font-family: "coolvetica", sans-serif;
    text-align: center;
    display: inline-block;
}

.middle {
    place-self: center;
}

/*layout for sizing.html - background images create contrast against content*/
.size {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2% 1fr 1fr;
    background-image: url(images/lake.png);
    background-repeat: no-repeat;
    background-size: cover
}

/*formatting the table including borders, sizes and positions in sizing.htm;*/
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "coolvetica", sans-serif;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1)
}

th,
td {
    padding: 15px;
}

table {
    width: 95%
}

.table {
    width: 100%;
    text-align: center;
    grid-column: 2/3;
}

/*position of button in sizing.html*/
.inputsize {
    grid-column: 3/4;
}

/*hover settings for nav bar link*/
.navigation:hover {
    text-shadow: 0 0 7px white;
    text-decoration: underline;
}

/*box sizing for all pages*/
* {
    box-sizing: border-box
}

/*vertically align images*/
img {
    vertical-align: middle;
}

/*for slider*/
.thermo {
    display: none
}

/*layout for sliders*/
.slideshow-container {
    display: grid;
    grid-template-columns: 5% 1fr 5% 1fr 5%;
    min-width: 100vw;
    max-width: 1000px;
    position: relative;
    margin: auto;
    align-items: end
}

.mySlides {
    grid-row: 1/2;
    grid-column: 1/6;
    width: 100%;
    padding-right: 2%;
    margin-bottom: 1%;
}

.slideimg {
    width: 100%
}

.mySlides {
    min-width: 100vw;
    margin-bottom: 1%;
}

/*hover settings for slider*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*positions in grids for newsletter*/
#contsize {
    grid-column: 2/4;
}

#contcontact {
    grid-column: 1/4;
    grid-row: 2/3;
}

/*sizing, positions and other settings for arrows in slider*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextbutton {
    grid-row: 1/2;
    grid-column: 5/6;
}

.prevbutton {
    grid-row: 1/2;
    grid-column: 1/2;
}

.prev {
    padding-left: 1%
}

.next {
    border-radius: 3px 0 0 3px;
}

/*hover settings for arrows in slider*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*text alignment in carts*/
.cartdiv {
    justify-content: center;
    text-align: center;
}

.cartdivb {
    justify-content: center;
    text-align: center;
}

/*positions for totals in cart*/
.totaldiv {
    grid-column: 1/3
}

.totalnumberdiv {
    grid-column: 5/6
}

/*font for buttons*/
button {
    font-family: "coolvetica", sans-serif;
}

/*text shadows - helps create contrast from background to text*/
.clothingtxt {
    text-shadow: 0 0 2px white;
}

#testing {
    text-shadow: 1px 1px 4px white
}

table {
    text-shadow: 0 0 4px white
}

#cart,
#jacketsize {
    text-shadow: 0 0 2px white;
}

/*positions, sizes and other settings remove buttons in cart*/
#removea,
#removeb,
#removec,
#removed,
#removee,
#removef,
#removeg,
#removeh,
#removei,
#removej,
#removek,
#removel {
    text-align: center;
    width: 15%;
    height: 40%;
    justify-self: center;
    align-self: center;
    border: none;
    background: none;
    color: white;
    grid-column: 7/8;
}

/*hover settings for remove button in cart*/
#removea:hover,
#removeb:hover,
#removec:hover,
#removed:hover,
#removee:hover,
#removef:hover,
#removeg:hover,
#removeh:hover,
#removei:hover,
#removej:hover,
#removek:hover,
#removel:hover {
    text-decoration: underline
}

/*positions, sizes and other settings product names in cart*/
#texta,
#textb,
#textc,
#textd,
#texte,
#textf,
#textg,
#texth,
#texti,
#textj,
#textk,
#textl {
    text-align: center;
    text-shadow: 0 0 0;
    color: white;
    font-weight: lighter;
    text-shadow: 0 0 4px black;
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
}

#yourcart {
    text-align: center;
    text-shadow: 0 0 0;
    color: white;
    font-size: 32px;
    font-size: 32px;
}

/*positions, sizes and other settings prices in cart*/
#textaaa,
#textbbb,
#textccc,
#textddd,
#texteee,
#textfff,
#textggg,
#texthhh,
#textiii,
#textjjj,
#textkkk,
#textlll {
    color: white;
    grid-column: 5/6;
    justify-self: center;
    align-self: center;
}

/*positions, sizes and other settings quanitities in cart*/
#textaa,
#textbb,
#textcc,
#textdd,
#textee,
#textff,
#textgg,
#texthh,
#textii,
#textjj,
#textkk,
#textll {
    text-align: center;
    text-shadow: 0 0 0;
    color: white;
    font-weight: lighter;
    text-shadow: 0 0 4px black;
    justify-self: center;
    align-self: center;
    grid-column: 3/4;
}

/*positions of products in index.html*/
#mens,
#womens,
#kids {
    grid-row: 2/3;
}

/*position of the cart in the nav bar and its hover settings*/
#cart {
    grid-row: 1/2;
    grid-column: 3/4;
}

#cart2 {
    grid-row: 1/2;
    grid-column: 3/4;
}

#cartimg2:hover {
    opacity: 100%;
}

/*position, sizes and other settings for cart in nav bar*/
#cartimg {
    height: 80%;
    width: 80%;
    max-height: 80px;
    max-width: 100px;
    display: inline;
    padding: 2%;
    z-index: 5;
    margin-left: 10%
}

#cartimg2 {
    opacity: 0;
    height: 80%;
    width: 80%;
    max-height: 80px;
    max-width: 100px;
    display: inline;
    padding: 2%;
    z-index: 5;
    margin-left: 10%
}

/*text shadows - helps create contrast from background to text*/
.contactus {
    text-shadow: 0 0 4px white
}

.contactd {
    text-shadow: 0 0 2px white;
}

.contacte {
    text-shadow: 0 0 1px white;
}

/*margins and paddings*/
.contactus {
    margin: 0 2% 0 2%
}

.map {
    padding: 5%
}

table {
    margin-top: 5%
}

#contsizing {
    margin-top: 7%;
}

.inputsize {
    margin-top: 5%
}

#mens1,
#womens1,
#kids1,
#tree1,
#ice1,
#lake1 {
    margin-top: 6%;
}

/*zoom products on hover in index.html - zooming helps create contrast of products against the content of the page*/
#mens,
#womens,
#kids,
#mens1,
#womens1,
#kids1,
.homepagetxt {
    transition: transform .1s;
}

#mens:hover,
#womens:hover,
#kids:hover,
#mens1:hover,
#womens1:hover,
#kids1:hover,
.homepagetxt:hover {
    transform: scale(1.08);
}

/*zoom product images on hover in store.html - zooming helps create contrast of products against the content of the page*/
.storeimg {
    transition: transform .1s;
}

.storeimg:hover {
    transform: scale(1.08);
}

/*positions and sizes of overlays - the background colour and opacity creates contrast against the the webpage and the contents in the cart*/
#overlay,
#overlaycontact,
#overlaycheckout {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlaya {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 5;
    cursor: pointer;
}

/*text alignment in inout boxes in store.html*/
#quantitya,
#quantityb,
#quantityc,
#quantityd,
#quantitye,
#quantityf,
#quantityg,
#quantityh,
#quantityi,
#quantityj,
#quantityk,
#quantityl {
    text-align: center
}

/*position of checkout button on cart*/
.cartcheckoutdiv {
    grid-column: 1/8;
    grid-row: auto;
    justify-items: center;
    margin-top: 2%
}

#cartcheckout {
    font-size: 15px
}

/*text settings for total on cart*/
#total,
#totaltext {
    color: white;
    margin-top: 50px
}

/*text decoration for checkout button on cart*/
.cartcheckoutdiv a {
    text-decoration: none
}

/*size of add to cart button*/
#adda,
#addb,
#addc,
#addd,
#adde,
#addf,
#addg,
#addh,
#addi,
#addj,
#addk,
#addl {
    width: 50%;
    margin: auto
}

/*layout of checkout.html*/
.containercheckout {
    display: grid;
    grid-template-columns: 15% 1fr 15% 1fr 15%;
    grid-template-rows: auto;
}

/*position of elements in grids in checkout.html*/
.columntwo {
    grid-column: 4/5;
    grid-row: 1/2;
}

.columnone {
    grid-column: 2/3;
    grid-row: 1/2;
}

.submitcheckout {
    grid-row: 2/3;
}

/*text shadows - helps create contrast from background to text*/
h3 {
    text-shadow: 0 0 4px black
}

#yourcart {
    text-shadow: 0 0 4px black
}

label {
    text-shadow: 0 0 2px white;
}

/*overlay text settings, sizes and positions*/
#text,
#textcontact {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0 0 7px white;
    font-size: 20px;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

/*nerwsletter subscribe container positions, colours and sizes*/
.container2 {
    margin-top: 5%;
    box-shadow: 2px 2px 8px black;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 0.5%;
    margin: 2%;
}

/*sizes, positions and borders for elements in newsltter subscribe form*/
#newsemail,
#newsname,
#subscribe {
    width: 35%;
    padding: 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*paddings for inputs*/
.contact input {
    padding: 3px;
}

#info {
    padding: 3px;
}

.checkoutsec input {
    padding: 3px;
}

#news {
    margin-top: 16px;
}

/*subscribe button*/
#subscribe {
    color: black;
    border: none;
}

/*hover settings for subscribe button*/
#subscribe:hover {
    opacity: 0.8;
}

/*positions and alignments for number of items on cart displayed on the nav bar*/
#items {
    font-size: 30px;
    text-align: center;
    align-self: center;
    padding-right: 50%
}

/*hover settings for number of items on cart displayed on the nav bar*/
#items:hover {
    text-decoration: none;
}

/*overlay in checkout.html*/
#thanks {
    margin: 3% 4% 0 4%;
    text-shadow: 1px 1px 4px white;
    text-align: center;
}

/*subcribe to newsltter heading text shadow*/
#new {
    text-shadow: 0 0 2px white;
}
